.btn {
  padding: 10px 18px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.btn-outline {
  border: 1px solid #d1d5db;
  background: transparent;
  color: #42c2cf;
}
.btn-outline:hover {
  background: #42c2cf;
  color: white;
  border: none;
}

.btn-primary {
  background: #42c2cf;
  color: white;
  border: none;
}
